<div>
  <form id="from-message">
    <input
      id="input-message"
      type="text"
      placeholder="Escribe tu mensaje"
      required
    />
    <input id="input-message" type="submit" value="enviar" />
  </form>
  <ul id="show-message">

  </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>