<article>
  <form action="/login" method="post">
    <header><h1>User Login 🚀</h1></header>
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="submit" value="Submit" role="button" />
    <a href="/recovery-password">Forgot your password?</a>
    <div id="login-container">
      <a id="auth-login-btn" href="/api/github" target="_blank">
        <img
          src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
          alt="GitHub "
        />
          Iniciar sesión con GitHub
      </a>
    </div>
    <div id="login-container">
      <a id="auth-login-btn" href="/auth/google" target="_blank">
        <img src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo.png" alt="Google">
          Iniciar sesión con Google
      </a>
    </div>
  </form>
  <footer>
    <a href="/register" role="button">Check in ➕</a>
  </footer>
</article>